* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  background-color: rgb(34, 34, 34);
  color: #cccccc;
}

body {
  height: 100%;
  padding: 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-bottom: 50px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

.main {
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.main h1 {
  text-align: center;
}

.buttons {
  margin: 25px 0;
  text-align: center;
}

.btn.btn-info {
  margin: 0 3px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}
